.App {
    height: 100%;
    color: rgb(34, 34, 34);
    background-color: burlywood;
    padding: 10px;
    margin: auto;
    background-image: url("https: //apastyle.apa.org/images/mechanics-of-style-category_tcm11-285736_w1024_n.png");
   
}

.container {
    display: flex;
    height: 100vh;
    
}

.location {
    width: 20%;
    padding: 1rem;
    background: #37360f;
    color: #fff;
    height: 600px;
    
}

.chat{
    width: 320px;
    padding: 1rem;
    background: #57570a;
    color: #fff;
    height: 600px;
    z-index:1;
    position:relative
}

.map {
width: 80%;
height: 100vh;

}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 10px 13px -7px #E0E0E0,
        5px 5px 15px 5px rgb(0 0 0 / 0%);
}

header>nav {
    display: flex;
    gap: 20px;
}

header>nav>button {
    display: flex;
    align-items: baseline;
}

header>nav>a.active {
    color: red;
    border-bottom: solid 1px red;
}

.location-input {
width: 100%;
padding: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
    0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 10px 0 0;
}

input {
    padding: 10px;
    border: none;
    background-color: #ddd;
    text-align: center;
}

.chat-window {
    width: 300px;
    height: 420px;
}

.chat-window .chat-body {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;

    position: relative;
}




































































/* .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
}

.chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
}

.chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
} */